@use "/src/assets/styles/colors.scss";

.badge {
  display: inline-block;
  height: 1rem;
  min-width: 1rem;
  line-height: 1.187rem;
  padding: 0 0.25rem;
  font-size: 0.625rem;
  box-sizing: border-box;
  text-align: center;
  background-color: colors.$charcoal100;
  color: colors.$charcoal700;
  border-radius: 0.5rem;
}
