@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/fonts.scss";

._ {
  width: 100%;
  background-color: colors.$charcoal100;
  font-family: fonts.$heading;
  color: colors.$charcoal700;
  text-align: center;
}

._link,
._message {
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  line-height: 2.5rem;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

._link {
  padding-right: 1.5rem;

  &::after {
    font-family: "craft" !important;
    content: "\e901";
    position: absolute;
    top: 0;
    right: 0.25rem;
    display: block;
    height: 2.5rem;
    line-height: 2.625rem;
    font-size: 0.875rem;
    width: 1rem;
    text-align: center;
    z-index: 1;
    color: colors.$charcoal700;
    transition: right 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      right: 0;
    }
  }
}
