@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.text-field {
  position: relative;
  padding: 1.25rem 0 0.25rem 0;
  box-sizing: border-box;
  height: 3rem;
  background-color: colors.$charcoal600;
  border: 0.0625rem solid colors.$charcoal400;
  border-radius: 0.5rem;
  cursor: text;
  transition: border-color 0.3s ease-in-out;

  &.with-value {
    .text-field__label {
      top: 0.25rem;
      transform: translateY(0) scale(0.66);
    }
  }

  &:hover {
    border-color: colors.$charcoal300;
  }

  &.focused {
    border-color: colors.$charcoal100;
  }
}

.text-field__input {
  display: block;
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
}

.text-field__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: colors.$charcoal200;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  transform-origin: top left;
  transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
}

.text-field__error {
  display: none;
}

.text-field__input:focus + .text-field__label {
  top: 0.25rem;
  transform: translateY(0) scale(0.66);
}

.text-field__input:invalid + .text-field__error {
}
