@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

$breakPoint: 1000px;
$breakPoint2: 500px;

.app-bar {
  box-sizing: border-box;
}

.app-bar__wrapper {
  @extend .wrapper;
  padding: 1rem 1.5rem;
}

.app-bar__cart {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}

.app-bar__company {
  display: block;
  height: 6rem;
  width: 6rem;
  margin: auto;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $breakPoint) {
    height: 4rem;
    width: 4rem;
  }

  @media (max-width: $breakPoint2) {
    height: 3rem;
    width: 3rem;
  }
}

.app-bar__menu,
.app-bar__search {
  position: absolute !important;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.app-bar__search {
  @media (max-width: $breakPoint) {
    left: auto;
    right: 4rem;
  }
}

.app-bar__menu {
  display: none !important;

  @media (max-width: $breakPoint) {
    display: block !important;
  }
}
