@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.link-product {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  border: 0.0625rem solid colors.$charcoal500;
  border-radius: 0.5rem;

  &:hover {
    .link-product__title {
      text-decoration: underline;
    }
  }
}

.link-product__image-wrapper {
  display: block;
  width: 100%;
  padding-bottom: calc(100% * 4 / 3);
  overflow: hidden;
  position: relative;
}

.link-product__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  &:nth-of-type(2n + 1) {
    z-index: 2;
  }

  &:nth-of-type(2n + 2) {
    z-index: 1;
  }
}

.link-product__tag {
  position: absolute;
  z-index: 3;
  bottom: 1rem;
  left: 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0.125rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: colors.$charcoal500;
  background-color: colors.$charcoal200;
}

.link-product__sale-tag {
  @extend .link-product__tag;
}

.link-product__sold-out-tag {
  @extend .link-product__tag;
  background-color: colors.$charcoal100;
  color: white;
}

.link-product__title {
  display: block;
  font-family: typography.$heading;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.link-product__price {
  display: block;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.link-product--imageExpandOnHover {
  @extend .link-product;

  .link-product__image {
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    .link-product__image {
      transform: scale(1.05);
    }
  }
}
