$root: "../../icons";
$cacheBuster: "ntttkw";

@font-face {
  font-family: "craft";
  src: url("#{$root}/craft.eot?#{$cacheBuster}");
  src: url("#{$root}/craft.eot?#{$cacheBuster}#iefix") format("embedded-opentype"),
    url("#{$root}/craft.ttf?#{$cacheBuster}") format("truetype"),
    url("#{$root}/craft.woff?#{$cacheBuster}") format("woff"),
    url("#{$root}/craft.svg?#{$cacheBuster}#craft") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "craft" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-clipboard:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-minus:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-shopping-bag:before {
  content: "\e90c";
}
.icon-trash-2:before {
  content: "\e90d";
}
.icon-upload:before {
  content: "\e90e";
}
.icon-x:before {
  content: "\e90f";
}
