@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.landing__wrapper {
  @extend .wrapper;
}

.landing__heading {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto 4rem auto;
}

$collageBreakPoint: 800px;

.landing__multi-link-collage {
  margin-bottom: 5rem;

  .collage__item-wrapper {
    &:nth-of-type(5n + 2) {
      .landing__multi-link-collage-item {
        padding-bottom: calc((100% - 1.5rem) / 2 * 1.5);

        @media (max-width: $collageBreakPoint) {
          padding-bottom: calc(100% * 1.5);
        }
      }
    }

    .link-image__title {
      @media (max-width: 500px) {
        font-size: 0.875rem;
        padding: 1rem;
      }
    }

    .link-image__image {
      @media (max-width: 500px) {
        bottom: 3.5rem;
      }
    }
  }
}

.landing__video {
  margin-bottom: 5rem;
}

.landing__testimonies {
  margin-bottom: 5rem;
}

.landing__testimonies-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.landing__single-link-collage {
  margin-bottom: 5rem;

  .collage__item-wrapper {
    &:nth-of-type(3n + 1) {
      .link-image {
        padding-bottom: calc(100% * 3 / 4);
      }
    }

    &:nth-of-type(3n + 2),
    &:nth-of-type(3n + 3) {
      span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 0.5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
