@use "/src/assets/styles/colors.scss";

.filter-group {
  display: flex;
  flex-flow: column nowrap;
}

.filter-group__filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.filter-group__filters-title {
  margin-right: 1.5rem;
  white-space: nowrap;
  color: colors.$charcoal200;
}

.filter-group__filters-item {
  margin-right: 1.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}
