@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

$breakPoint: 1000px;
$sidebarWidth: 18rem;

.root {
  @media (max-width: $breakPoint) {
    position: fixed;
    z-index: 20;
    background-color: colors.$charcoal600;
    left: -$sidebarWidth;
    top: 0;
    bottom: 0;
    width: $sidebarWidth;
    opacity: 0;
    transition: left 0.3s linear, opacity 0.3s linear;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0.0625rem;
      background: linear-gradient(to bottom, transparent, colors.$charcoal500, transparent);
      z-index: 22;
    }
  }
}

.expandMenu {
  @media (max-width: $breakPoint) {
    left: 0;
    opacity: 1;
  }
}

.wrapper {
  @extend .wrapper;
  overflow: visible;

  @media (max-width: $breakPoint) {
    position: absolute;
    top: 0;
    padding: 0;
    bottom: 6rem;
    left: 0;
  }
}

// #region mainMenu

.mainMenu {
  text-align: center;
  margin-top: 0.5rem;

  @media (max-width: $breakPoint) {
    text-align: left;
    margin-top: 0;
  }
}

.menuItemWrapper {
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $breakPoint) {
    display: block;
    margin-right: 0;
    position: initial;
  }
}

.menuItem {
  @media (max-width: $breakPoint) {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
    transition: background-color 0.3s ease-in-out;
    color: colors.$charcoal100;

    &::after {
      display: none;
    }

    &:hover {
      color: colors.$charcoal100;
      background-color: colors.$charcoal500;
    }
  }
}

.subMenuTitle {
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  color: colors.$charcoal300;
  transition: color 0.3s ease-in-out;
  padding-right: 1.25rem;
  cursor: pointer;

  &::before {
    font-family: "craft";
    content: "\e903";
    position: absolute;
    height: 1rem;
    line-height: 1.125rem;
    top: 0;
    right: 0;
    font-size: 0.875rem;
    text-align: right;
  }

  &::after {
    content: "";
    height: 0.0625rem;
    position: absolute;
    left: 0;
    right: 1.25rem;
    bottom: 0;
    opacity: 0;
    background-color: colors.$charcoal200;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    color: colors.$charcoal-300;
    &::after {
      opacity: 1;
    }
  }

  @media (max-width: $breakPoint) {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
    transition: background-color 0.3s ease-in-out;
    color: colors.$charcoal100;

    &::after {
      display: none;
    }

    &::before {
      content: "\e901";
      color: colors.$charcoal200;
      height: 2.5rem;
      line-height: 2.5rem;
      right: 1.5rem;
    }

    &:hover {
      color: colors.$charcoal100;
      background-color: colors.$charcoal500;
    }
  }
}

// #endregion

// #region subMenu

.subMenu {
  position: absolute;
  left: -0.5rem;
  top: 2.5rem;
  box-sizing: border-box;
  padding: 1.5rem;
  min-width: 12rem;
  text-align: left;
  border: 0.0625rem solid colors.$charcoal400;
  border-radius: 0.5rem;
  background-color: colors.$charcoal600;
  visibility: hidden;
  clip-path: inset(0 0 100% 0);
  z-index: 21;
  transition: visibility 0s linear 0.3s, clip-path 0.3s ease-in-out;

  @media (max-width: $breakPoint) {
    top: 0;
    left: -$sidebarWidth;
    width: $sidebarWidth;
    bottom: 6rem;
    border-radius: 0;
    visibility: visible;
    clip-path: inset(0 0 0 0);
    opacity: 0;
    transition: left 0.3s ease-in-out, opacity 0.3s;
    border: none;
    padding: 0;
  }
}

.subMenuBack {
  display: none;

  @media (max-width: $breakPoint) {
    cursor: pointer;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
    transition: background-color 0.3s ease-in-out;
    color: colors.$charcoal100;
    background-color: rgba(colors.$charcoal500, 0.5);
    font-size: 0.875rem;

    &:hover {
      color: colors.$charcoal100;
      background-color: colors.$charcoal500;
    }

    &::before {
      font-family: "craft";
      content: "\e913";
      display: block;
      float: left;
      margin-right: 0.25rem;
      height: 2.5rem;
      line-height: 2.4rem;
      font-size: 1rem;
    }
  }
}

.expanded {
  .subMenuTitle {
    &::before {
      content: "\e906";
    }

    @media (max-width: $breakPoint) {
      &::before {
        content: "\e901";
      }
    }
  }
  .subMenu {
    transition: visibility 0s linear, clip-path 0.3s ease-in-out;
    visibility: visible;
    clip-path: inset(0 0 0 0);

    @media (max-width: $breakPoint) {
      transition: left 0.3s ease-in-out, opacity 0.3s;
      opacity: 1;
      left: 0;
    }
  }
}

.subMenuItemWrapper {
  display: block;
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: $breakPoint) {
    margin-bottom: 0;
  }
}

.subMenuItem {
  @media (max-width: $breakPoint) {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
    transition: background-color 0.3s ease-in-out;
    color: colors.$charcoal100;

    &:hover {
      color: colors.$charcoal100;
      background-color: colors.$charcoal500;
    }
  }
}

// #endregion

// #region social

.social {
  display: none;
  background: linear-gradient(to bottom, transparent, colors.$charcoal500);
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  @media (max-width: $breakPoint) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.socialLinkWrapper {
  float: left;
  margin-left: 0.5rem;

  &:first-of-type {
    margin-left: 0;
  }
}

// #endregion
