@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";
@use "/src/assets/styles/typography.scss";

.card-info {
  overflow: hidden;
  text-align: center;
}

.card-info__image {
  display: block;
  margin: auto;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1.5rem;
}

.card-info__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;

  path {
    fill: colors.$charcoal400;
  }
}

.card-info__title {
  font-family: typography.$heading;
  letter-spacing: 0.0625rem;
  margin-bottom: 1rem;
  display: block;
}

.card-info__description {
  color: colors.$charcoal300;
}
