@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.notification-cart {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  max-width: 25rem;
  width: calc(100% - 3rem);
  background-color: colors.$charcoal600;
  border: 0.0625rem solid colors.$charcoal300;
  box-sizing: border-box;
  padding: 1.5rem;
  z-index: 30;
  overflow: hidden;
  border-radius: 0.5rem;
  clip-path: circle(0 at 100% 100%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out, clip-path 0.5s ease-in-out;

  &.visible {
    transition: visibility 0s linear, opacity 0.5s ease-in-out, clip-path 0.5s ease-in-out;
    visibility: visible;
    opacity: 1;
    right: 1.5rem;
    clip-path: circle(200% at 100% 100%);
  }
}

.notification-cart__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.5rem;
}

.notification-cart__header__icon {
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  top: -0.0625rem;
  path {
    fill: colors.$charcoal200;
  }
}

.notification-cart__header__text {
  margin-right: auto;
  font-size: 0.875rem;
}

.notification-cart__header__close-button {
  svg {
    width: 1.25rem;
    height: 1.25rem;
    path {
      fill: colors.$charcoal200;
    }
  }
}

.notification-cart__product {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.notification-cart__product__image {
  display: block;
  max-width: 4rem;
  width: 100%;
  height: auto;
  margin-right: 1.5rem;
  border-radius: 0.25rem;
}

.notification-cart__button-links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.notification-cart__button-links__checkout {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: colors.$charcoal100;
  color: colors.$charcoal500;
}

.notification-cart__button-links__cart {
  box-sizing: border-box;
  border: 0.0625rem solid colors.$charcoal300;
  width: 100%;
  text-align: center;
}
