@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.root {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background-color: colors.$charcoal500;
  color: colors.$charcoal200;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    background-color: colors.$charcoal300;
    color: colors.$charcoal500;
  }

  span {
    display: none;
  }
}
