@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.search-form {
  max-width: 30rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.search-form__input {
  width: 100%;
  padding-right: 4rem;
}

.search-form__button-submit {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;

  path {
    fill: colors.$charcoal300;
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    path {
      fill: colors.$charcoal100;
    }
  }
}
