@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.button-icon {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

.button-icon--basic {
  @extend .button-icon;
}

.button-icon--expandOnHover {
  @extend .button-icon--basic;

  &:hover {
    .button-icon__icon {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.button-icon__icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(1);
}
