@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.root {
}
.announcement {
  box-sizing: border-box;
}

.drawer {
  box-sizing: border-box;
}
.search {
  box-sizing: border-box;
  overflow: visible;
}
.nav {
  box-sizing: border-box;
}
