@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.search-predictive-result {
  background-color: colors.$charcoal600;
  box-sizing: border-box;
  border: 0.0625rem solid colors.$charcoal400;
  border-top: none;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.search-predictive-result-title {
  display: block;
  padding: 0.75rem 1rem;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: colors.$charcoal300;
  position: relative;
  letter-spacing: 0.0625rem;
  margin-top: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 0.0625rem;
    background-color: colors.$charcoal500;
  }
}

.search-predictive-result__list-item {
  display: block;
}

.search-predictive-result__list-item-link {
  display: block;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  background-color: colors.$charcoal600;
  transition: background-color 0.2s ease-in-out;
  overflow: hidden;

  &:hover {
    background-color: colors.$charcoal500;

    .search-predictive-result__list-item-title {
      text-decoration: underline;
    }
  }
}

.search-predictive-result__list-item-image {
  display: block;
  float: left;
  width: 10%;
  height: calc(10% * 1.5);
  margin-right: 1rem;
  object-fit: cover;
  object-position: center;
}

.search-predictive-result__list-item-title {
  display: block;
  font-family: typography.$heading;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
  line-height: 1.62em;
  margin-bottom: 0.5rem;
}

.search-predictive-result__list-item-price {
  display: block;
}

.search-predictive-result-search-for-link {
  display: block;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  border-top: 0.0625rem solid colors.$charcoal500;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.875rem;

  .link-arrow__icon {
    right: 1.25rem;
    path {
      fill: colors.$charcoal200;
    }
  }

  &:hover {
    background-color: colors.$charcoal500;
    .link-arrow__icon {
      right: 1rem;
    }
  }
}
