@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.list-product {
  .paginator__wrapper {
    display: flex;
    gap: 1.5rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.list-product__item {
  width: calc((100% - 4.5rem) / 4);
  overflow: hidden;

  @media (max-width: 900px) {
    width: calc((100% - 3rem) / 3);
  }

  @media (max-width: 750px) {
    width: calc((100% - 1.5rem) / 2);
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.list-product--three-column {
  @extend .list-product;

  .list-product__item {
    width: calc((100% - 3rem) / 3);
    overflow: hidden;

    @media (max-width: 750px) {
      width: calc((100% - 1.5rem) / 2);
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
