@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.list-product__toolbox {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.list-product__count {
  margin-left: 1.5rem;
  color: colors.$charcoal300;
}

.list-product__list {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.list-product__list-item-wrapper {
  width: calc((100% - 3rem) / 3);
  overflow: hidden;
}
