@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.root {
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  height: 1rem;
  line-height: 1rem;
  position: relative;
  color: colors.$charcoal300;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: colors.$charcoal-300;
  }
}

.main {
  @extend .root;

  &::after {
    content: "";
    height: 0.0625rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: colors.$charcoal300;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.sub {
  @extend .root;
}
