@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";

.card-quote__quote {
  &::before,
  &::after {
    content: '"';
  }

  font-family: typography.$heading;
  font-size: 1rem;
  line-height: 2em;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 1rem;
  color: colors.$charcoal100;
}

.card-quote__author {
  text-align: center;
  display: block;
  color: colors.$charcoal300;
}
