@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.search-template__heading {
  text-align: center;
  font-size: 1.5rem;
}

.search-template__form-wrapper {
  position: relative;
  overflow: visible;
  min-height: 3rem;
  margin-bottom: 4rem;
}

.search-template__form {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
