@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.paginator__controls {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.paginator__prev-page-button,
.paginator__next-page-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  svg {
    path {
      fill: colors.$charcoal300;
      transition: fill 0.3s ease-in-out;
    }
  }

  &:hover {
    background-color: colors.$charcoal500;

    svg {
      path {
        fill: colors.$charcoal100;
      }
    }
  }
}

.paginator__page-links {
  margin: 0 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.paginator__page-link {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0.2rem;
  font-size: 1rem;

  &.mark {
    text-decoration: underline;
    font-size: 1.125rem;
    font-weight: 500;
  }

  &:hover {
    background-color: colors.$charcoal500;
  }
}
