@use "/src/assets/styles/colors.scss";

.text-price {
  display: block;
  font-size: 0.875rem;
  color: colors.$charcoal200;
  letter-spacing: 0.0625rem;

  span {
    display: inline-block;
  }
  s {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
