@use "/src/assets/styles/colors.scss";

.link {
  color: colors.$charcoal100;
}

.link--plain {
  @extend .link;
}

.link--underlineOnHover {
  @extend .link;

  &:hover {
    text-decoration: underline;
  }
}

.link--button {
  @extend .link;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  line-height: 3rem;
  height: 3rem;
  transform: scale(0.98);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1);
  }
}
