@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.nav-drawer {
  display: none;
  position: fixed;
  left: -16rem;
  bottom: 0;
  z-index: 20;
  width: 16rem;
  background-color: colors.$charcoal600;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, left 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.0625rem;
    background: linear-gradient(to bottom, transparent, colors.$charcoal500, transparent);
  }

  &.expand {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  @media (max-width: 1000px) {
    display: block;
  }
}

.nav-drawer__body-cover {
  position: fixed;
  z-index: 19;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(colors.$charcoal300, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;

  &.expand {
    transition: visibility 0s linear, opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
  }
}
