@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.app-footer {
  background-color: colors.$charcoal100;
  color: colors.$charcoal500;
  padding: 4rem 0;
  overflow: hidden;
}

.app-footer__wrapper {
  @extend .wrapper;
  padding-bottom: 4rem;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.app-footer__subscription-form {
  margin: 0 auto 4rem auto;
}

.app-footer__sitemap {
  width: calc((100% - 1.5rem) / 2);
  float: left;
  margin-right: 1.5rem;

  @media (max-width: 500px) {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.app-footer__mission {
  text-align: left;
  width: calc((100% - 1.5rem) / 2);
  float: left;

  @media (max-width: 500px) {
    width: 100%;
    float: none;
    margin-left: 0;
    text-align: center;
  }
}

.app-footer__separator {
  border: none;
  margin: 0;
  border-bottom: 0.0625rem solid colors.$charcoal200;
}

.app-footer__copyright {
  display: block;
  font-size: 0.75rem;
  text-align: center;
}

.app-footer__credit-cards {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.app-footer__credit-card-item {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;

  &:last-of-type {
    margin-right: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
