@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";
@use "/src/assets/styles/typography.scss";

.select-box-multi {
  position: relative;
  overflow: visible;
}

.select-box-multi__list-wrapper {
  background-color: colors.$charcoal600;
  box-sizing: border-box;
  border: 0.0625rem solid colors.$charcoal400;
  border-radius: 0.5rem;
  position: absolute;
  left: 0rem;
  top: 2rem;
  min-width: 20rem;
  opacity: 0;
  visibility: hidden;
  clip-path: inset(0 0 100% 0);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;
  z-index: 10;

  &.visible {
    transition: visibility 0s linear, opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    clip-path: inset(0 0 0 0);
  }
}

.select-box-multi__list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 1rem 1.5rem;
  border-bottom: 0.0625rem solid colors.$charcoal400;
}

.select-box-multi__count {
  font-size: 0.875rem;
  line-height: 1.62em;
  color: colors.$charcoal300;
}

.select-box-multi__reset-button {
  color: colors.$charcoal300;

  &::after {
    background-color: colors.$charcoal400;
  }

  &:hover {
    color: colors.$charcoal100;
    &::after {
      background-color: colors.$charcoal300;
    }
  }
}

.select-box-multi__list {
  padding: 1rem 1.5rem;
}

.select-box-multi__list-item {
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  outline: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}
