@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(colors.$charcoal300, 0.5);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: colors.$charcoal600;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    opacity: 0;
    clip-path: inset(0 0 100% 0);
    transition: opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;
  }
}

.search-bar__wrapper {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  overflow: visible;
}

.search-bar__form {
  max-width: 30rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.search-bar__input {
  width: calc(100% - 3rem);
  float: left;
  padding-right: 4rem;
}

.search_bar__button-submit,
.search_bar__button-close {
  width: 3rem;
  height: 3rem;

  path {
    fill: colors.$charcoal300;
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    path {
      fill: colors.$charcoal100;
    }
  }
}

.search_bar__button-submit {
  position: absolute;
  top: 0;
  right: 3rem;
}

.search_bar__button-close {
  float: right;
}

.search-bar.visible {
  transition: visibility 0s linear, opacity 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;

  &::before {
    transition: opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
