@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.container {
  @extend .wrapper;
  padding: 1rem 1.5rem;
}

.company {
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 6rem;
  display: block;
  margin: auto;

  &::before {
    transform: translate(-50%, -50%) scale(1);
  }

  @media (max-width: 1000px) {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 4rem;
  }

  @media (max-width: 400px) {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 3rem;
  }
}

.search,
.cart,
.menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  left: 1.5rem;

  @media (max-width: 1000px) {
    left: auto;
    right: 4rem;
  }
}

.cart {
  right: 1.5rem;
}

.menu {
  left: 1.5rem;
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }
}
