$charcoal-300: #070707; // rgba($charcoal, .2) over pure black
$charcoal-300: #0d0d0d; // rgba($charcoal, .4) over pure black
$charcoal-300: #141414; // rgba($charcoal, .6) over pure black
$charcoal-200: #1a1a1a; // rgba($charcoal, .8) over pure black

$charcoal100: #212121;

$charcoal200: #4d4d4d; // rgba($charcoal, .8) over pure white
$charcoal300: #7a7a7a; // rgba($charcoal, .6)  over pure white
$charcoal400: #a6a6a6; // rgba($charcoal, .4)  over pure white
$charcoal500: #d3d3d3; // rgba($charcoal, .2)  over pure white
$charcoal600: #e8e8e8; // rgba($charcoal, .1)  over pure white
$charcoal700: #f4f4f4; // rgba($charcoal, .05)  over pure white

$error: #b11515;
