@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@import "/src/assets/styles/partials/reset";
@import "/src/assets/styles/partials/fonts";
@import "/src/assets/styles/partials/icons";

:root {
  font: 400 16px/1.62em typography.$body;
  background-color: colors.$charcoal600;
  color: colors.$charcoal100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  min-height: 3000px;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: colors.$charcoal500;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$charcoal400;
  }
}

::selection {
  color: colors.$charcoal100;
  background-color: colors.$charcoal500;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 80rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 0 1.5rem;
  height: auto;
}
