@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.select-box {
  position: relative;
  overflow: visible;
}

.select-box__list {
  position: absolute;
  left: 0;
  z-index: 10;
  top: 2rem;
  display: flex;
  flex-flow: column;
  overflow: visible;
  background-color: colors.$charcoal600;
  border: 0.0625rem solid colors.$charcoal400;
  border-radius: 0.5rem;
  flex-shrink: 1;
  overflow: hidden;
  min-width: 14rem;
  opacity: 0;
  visibility: hidden;
  clip-path: inset(0 0 100% 0);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;

  &.visible {
    transition: visibility 0s linear, opacity 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    clip-path: inset(0 0 0 0);
  }
}

.select-box__list-item {
  text-align: left;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  white-space: nowrap;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    bottom: 0.5rem;
    width: 0.25rem;
    background-color: colors.$charcoal500;
    z-index: 2;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: scaleY(0);
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
  }

  &.selected {
    &::after {
      transform: scaleY(1);
    }

    &:hover {
      &::after {
        background-color: colors.$charcoal600;
      }
    }
  }

  &:hover {
    background-color: colors.$charcoal500;
  }
}
