.link-icon--basic {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.link-icon--expandOnHover {
  @extend .link-icon--basic;

  &:hover {
    .link-icon__icon {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.link-icon__icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(1);
}

.link-icon__badge {
  position: absolute;
  bottom: 0;
  right: 0;
}
