@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.layout__main {
  padding: 4rem 0;
}

.layout__main-wrapper {
  @extend .wrapper;
  overflow: visible;
  min-height: 100vh;
}

.source-code-link {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  background-color: colors.$charcoal-200;
  mix-blend-mode: difference;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  transition: background-color 0.3s ease-in-out;
  z-index: 40;

  svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    path {
      fill: white;
      transition: fill 0.3s ease-in-out;
    }
  }
}
