@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.layout__main {
  padding: 4rem 0;
}

.layout__main-wrapper {
  @extend .wrapper;
  overflow: visible;
  min-height: 100vh;
}
