@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

.error-boundary {
  min-height: 100vh;
  padding: 4rem 0;
  box-sizing: border-box;
  background-color: colors.$charcoal100;
  color: colors.$charcoal400;
}

.error-boundary__wrapper {
  @extend .wrapper;
}

.error-boundary__heading {
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
  color: colors.$charcoal400;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 0.0625rem;
    background-color: colors.$charcoal300;
  }
}

.error-boundary__title {
  max-width: 50rem;
  margin: 0 auto 1rem auto;
  text-align: center;
  color: colors.$error;
}

.error-boundary__details {
  background-color: colors.$charcoal-300;
  max-width: 50rem;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid colors.$charcoal200;
  margin: auto;
  overflow-y: auto;
}

.error-boundary__details-item {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    background-color: colors.$charcoal200;
    color: colors.$charcoal600;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
