@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/typography.scss";
@use "/src/assets/styles/shared.scss";

$breakPoint: 900px;

.collection__header {
  margin-bottom: 4rem;
}

.collection__description {
  max-width: 40rem;
  font-size: 1.125rem;
  color: colors.$charcoal200;
  line-height: 1.62em;
}

.collection__tools {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.collection__tools__fs-button {
  display: none;
}

.collection__tools__fs-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.collection__tools__fs-header {
  display: none;
}

.collection__tools__count {
  margin-left: 1.5rem;
  color: colors.$charcoal300;
}

.collection__filter-chips {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: $breakPoint) {
  .collection__tools {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 19;
      background-color: rgba(colors.$charcoal300, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
    }

    &.expand-fs {
      &::before {
        transition: visibility 0s linear, opacity 0.3s ease-in-out;
        visibility: visible;
        opacity: 1;
      }

      .collection__tools__fs-wrapper {
        transition: right 0.3s ease-in-out, visibility 0s linear, opacity 0.3s ease-in-out;
        right: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .collection__tools__fs-button {
    display: flex;
    margin-right: auto;
  }

  .collection__tools__fs-wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    right: -16rem;
    bottom: 0;
    width: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s ease-in-out, visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
    background-color: colors.$charcoal600;
    border-left: 0.0625rem solid colors.$charcoal500;
    display: block;

    .collection__tools__fs-header {
      display: block;
      position: relative;
      padding: 1rem 1.5rem;
      box-sizing: border-box;
      border-bottom: 0.0625rem solid colors.$charcoal500;
      align-items: center;
      margin-bottom: 1rem;

      hgroup {
        margin-right: auto;
        text-align: center;
        padding-right: 1.5rem;
        white-space: nowrap;

        h3 {
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 1em;
          margin-bottom: 0.5rem;
        }

        h4 {
          font-size: 0.75rem;
          line-height: 1em;
          color: colors.$charcoal200;
        }
      }

      .collection__tools__fs-close-button {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5rem;

        svg {
          path {
            fill: colors.$charcoal200;
          }
        }
      }
    }

    .filter-group {
      display: block;
      padding: 0 1.5rem;
      margin-bottom: 1rem;

      .filter-group__filters {
        display: block;

        .filter-group__filters-title {
          display: none;
        }

        .select-box-multi {
          margin-right: 0;
          margin-bottom: 1rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          .select-box-multi__button {
            width: 100%;

            .button-icon-text__label {
              margin-right: auto;
            }
          }

          .select-box-multi__list-wrapper {
            position: relative;
            visibility: visible;
            clip-path: inset(0 0 0 0);
            opacity: 1;
            top: auto;
            left: auto;
            right: auto;
            border: none;
            width: 100%;
            box-sizing: border-box;

            &.visible {
              .select-box-multi__list {
                max-height: 10rem;
                width: 100%;
                box-sizing: border-box;
              }
            }

            .select-box-multi__list-header {
              display: none;
            }

            .select-box-multi__list {
              padding: 0;
              max-height: 0;
              transition: max-height 0.3s linear;
              box-sizing: border-box;
              overflow: hidden;

              .select-option--multi {
                margin-bottom: 0.5rem;
                padding-left: 0.5rem;

                &:first-of-type {
                  margin-top: 1rem;
                }

                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    .sorter {
      display: block;
      padding: 0 1.5rem;

      .sorter__title {
        display: none;
      }

      .select-box {
        .select-box-multi__button {
          width: 100%;
          span {
            margin-right: auto;
          }
        }

        .select-box__list {
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          visibility: visible;
          clip-path: inset(0 0 0 0);
          opacity: 1;
          border: none;
          min-width: auto;
          max-height: 0;
          transition: max-height 0.3s linear;

          &.visible {
            max-height: 100vh;
          }

          .select-option--single {
            padding: 0 0 0 1.25rem;

            &.selected {
              &::after {
                width: 0.25rem;
                height: 0.25rem;
                left: 0.25rem;
                top: 50%;
                transform: translate(0.125rem, -50%);
                background-color: colors.$charcoal300;
                border-radius: 50%;
                z-index: 2;
              }
            }

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0.25rem;
              height: 0.5rem;
              width: 0.5rem;
              background-color: colors.$charcoal500;
              border-radius: 50%;
              transition: background-color 0.3s ease-in-out;
              z-index: 1;
            }

            &:hover {
              background-color: transparent;
              &::before {
                background-color: colors.$charcoal400;
              }
            }
          }
        }
      }
    }
  }
}
